/* Case Studies */

.case-studies {
  padding: 184px 0;
}

.case-studies__title {
  max-width: 1070px;
  margin-bottom: 12px;
  color: #1f1f1f;
}

.case-studies__text {
  max-width: 1070px;
  margin-bottom: 100px;
}
