.footer {
  padding: 162px 0 82px;
  letter-spacing: 0.04em;
  font-size: 20px;
  line-height: 36px;
  color: rgba(31, 31, 31, 0.7);

  & a {
    letter-spacing: 0.04em;
    font-size: 20px;
    line-height: 36px;
    color: rgba(31, 31, 31, 0.7);
  }

  &__row {
    display: flex;
    justify-content: space-between;
  }

  &__nav {
    display: flex;
    column-gap: 104px;
  }

  &__socials {
    display: flex;
    column-gap: 26px;

    &-icon img {
      transition: all 0.3s ease;

      &:hover {
        transform: scale(1.2);
      }
    }
  }
}
