/* Nav */

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__list {
  display: flex;
  align-items: center;
  column-gap: 118px;
}

.nav__btn {
  display: none;
}

.link {
  font-size: 20px;
  font-weight: 800;
  color: #114455;
}
