.video {
  position: relative;

  &-overlay::after {
    content: '';
    position: absolute;
    z-index: 8;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(17, 68, 85, 0.5);
  }

  &__btn {
    position: absolute;
    z-index: 9;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__picture {
    position: relative;
    z-index: 7;
  }

  &__object {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    vertical-align: top;
  }
}
