<footer class="footer">
  <div class="footer__container container">
    <div class="footer__row">
      <div class="footer__copyright">Copyright © 2020 Invoriem</div>
      <div class="footer__nav">
        <div class="footer__email"><a href="mailto:info@invoriem.com">info@invoriem.com</a></div>
        <div class="footer__socials">
          <a href="#" class="social-icon"><img src="./img/socials/instagram.svg" alt="Link"></a>
          <a href="#" class="social-icon"><img src="./img/socials/facebook.svg" alt="Link"></a>
          <a href="#" class="social-icon"><img src="./img/socials/twitter.svg" alt="Link"></a>
          <a href="#" class="social-icon"><img src="./img/socials/linkedIn.svg" alt="Link"></a>
        </div>
      </div>
    </div>
  </div>
</footer>
