<header class="header">
  <div class="header__container container">
    <div class="header__top">
      <nav class="nav">
        <a href="/" class="nav__logo">
          <img src="./img/logo.svg" alt="Invoriem project">
        </a>

        <ul class="nav__list">
          <li><a href="#" class="link">About us</a></li>
          <li><a href="#" class="btn">Let’s Talk</a></li>
        </ul>
      </nav>
    </div>

    <div class="header__content">
      <h1 class="header__title title">We build dreams, not just walls</h1>
      <div class="header__text text">
        <p>Fulfill your international property developments with us</p>
      </div>
      <div class="header__btn">
        <a href="#" class="btn btn--big btn--dark">Let’s Talk</a>
      </div>
    </div>
    <a href="/" class="header__arrows">
      <img src="./img/icons/header-arrows.svg" alt="Scroll down">
    </a>

  </div>
</header>
