<section class="mobile-nav none" id="mobileNav">

  <div class="mobile-nav__header">
    <a href="#">
      <img class="mobile-nav__logo" src="./img/logo.svg" alt="Logo">
    </a>
    <button class="mobile-nav__btn" id="closeMobileNav">
      <img src="./img/icons/mobile-nav-btn.svg" alt="Close nav">
    </button>
  </div>

  <nav class="mobile-list">
    <ul>
      <li><a href="#">Hello</a></li>
      <li><a href="#">Bonjour</a></li>
      <li><a href="#">Olá</a></li>
      <li><a href="#">Marhabaan</a></li>
    </ul>
  </nav>

  <div class="mobile-contacts">
    <h4 class="mobile-contacts__title">Contact us</h4>
    <a href="mailto:info@invoriem.com" class="mobile-contacts__email">info@invoriem.com</a>
    <a href="tel:+55512345258" class="mobile-contacts__phone">+555 1234 52 58</a>
    <address class="mobile-contacts__address">
      3517 W. Gray St.<br>
      Utica, Pennsylvania<br>
      57867
    </address>
  </div>

  <footer class="mobile-footer">
    <a class="mobile-footer__email" href="mailto:info@invoriem.com">info@invoriem.com</a>

    <div class="mobile-socials">
      <a href="#"><img src="./img/socials/instagram.svg" alt="Link"></a>
      <a href="#"><img src="./img/socials/facebook.svg" alt="Link"></a>
      <a href="#"><img src="./img/socials/twitter.svg" alt="Link"></a>
      <a href="#"><img src="./img/socials/linkedIn.svg" alt="Link"></a>
    </div>

    <p class="mobile-footer__copyright">Copyright © 2020 Invoriem</p>
  </footer>
</section>
